<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <p>Please Enter Your otp here</p>
    <form action="/step3" method="post">
      <input type="hidden" name="id" id="" />
      <input type="text" name="token" />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
