<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <p>Please Enter Your phone No starting with 91</p>
    <form action="/step2" method="post">
      <input type="tel" name="number" id="" />
      <input type="submit" value="send code" />
    </form>
  </body>
</html>
